# IntelliJ & MacOS 관련
.idea/
.DS_Store

# Java 관련
*.class
*.jar
*.war
*.ear
/build/
out/
target/
*.iml

# Maven
.mvn/
pom.xml.tag
pom.xml.releaseBackup
dependency-reduced-pom.xml
release.properties
target/

# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/
build/

# Spring Boot 환경설정
application*.yml
application*.properties
.env

# Node.js / React 관련
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# Docker
*.log
docker-compose.override.yml
.env

# 기타 OS 관련
Thumbs.db

